@media only screen and (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
  .primary-heading {
    font-size: 4.4rem;
  }

  .sponsors-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 64rem) {
  html {
    font-size: 50%;
  }
  .primary-heading {
    font-size: 3.6rem;
  }

  .sponsors-container-info {
    font-size: 3rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .logos-heading {
    font-size: 3rem;
  }

  .btn:link,
  .btn:visited {
    font-size: 2rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .main-student-img {
    width: 80%;
    text-align: center;
  }

  .hero-img {
    text-align: center;
  }

  .hero-info {
    text-align: center;
  }

  .parent-info-about-us {
    justify-content: center;
  }

  .feature-logo-heading {
    text-align: center;
    width: 100%;
  }

  .f-logo {
    height: 2.4rem;
  }
}

@media only screen and (max-width: 56.25rem) {
  .cta-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .receiver {
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsor {
    grid-template-columns: 1fr;
  }

  .f-logo {
    height: 1.6rem;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .primary-heading {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 48rem) {
  .upper-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #003b5dbb;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    transform: translateY(-100%);
    transition: all 0.3s ease-in;
  }

  .upper-navigation.open {
    transform: translateY(0);
  }

  .menu-btn {
    display: block;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
  }

  .page-navigation:link,
  .page-navigation:visited {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 300;
  }

  .nav-cols1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .sponsor-full-container {
    padding: 0 3.2rem;
  }

  .receiver {
    padding: 0;
  }

  .donate-btn:link,
  .donate-btn:visited {
    font-size: 1.8rem;
    padding: 1.2rem;
    font-weight: 400;
  }

  .logo {
    width: 6.4rem;
    height: 4.8rem;
  }

  nav {
    gap: 2.4rem;
  }

  .check-out-form {
    width: 80%;
  }
}
